<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="LogLevel" value="Information" />
		<add key="LogPath" value="" />
		<add key="LogFileSizeLimitBytes" value="5242880" />
		<add key="RetainLogFileCountLimit" value="1000" />
	</appSettings>
</configuration>